<!DOCTYPE html>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="root.meal">Promise</a>
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" collapse="!isCollapsed">
      <ul class="nav navbar-nav">

        <li ui-sref-active="active">
          <a ui-sref="root.meal" ng-click="isCollapsed = false">
            <span class="fa fa-cutlery"></span>
            <span>午餐</span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="root.fellow" ng-click="isCollapsed = false">
            <span class="fa fa-users"></span>
            <span>伙伴</span>
          </a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="root.statistics" ng-click="isCollapsed = false">
            <span class="fa fa-bar-chart"></span>
            <span>统计</span>
          </a>
        </li>

      </ul>
    </div>

  </div>
</div>
