<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Static Html App</title>

  <!-- build:css(.) css/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js(.) js/ie.js -->
  <!--[if lte IE 9]>
    <script src="bower_components/console-polyfill/index.js"></script>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/es5-shim/es5-sham.js"></script>
    <script src="bower_components/respond/dest/respond.src.js"></script>
  <![endif]-->
  <!-- endbuild -->

  <!-- build:less css/app.css -->
  <link href="app.less" rel="stylesheet/less">
  <script src="bower_components/less/dist/less-1.7.5.js"></script>
  <!-- endbuild -->

</head>
<body>

  <div ng-view></div>

  <!-- build:js(.) js/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({app,.tmp/generated}) js/app.js -->
  <!-- include: "type": "js", "files": "**/*.urgent.js" -->
  <script src="app.js"></script>
  <!-- include: "type": "js", "files": ["**/*.js", "!**/*.urgent.js"] -->
  <!-- endbuild -->

</body>
</html>
