<!DOCTYPE html>
<div ng-controller="DebugController as vm" ng-init="vm.list=[]">

  <!-- 顶部 -->
  <div class="container">

    <!-- 标题 -->
    <h1 class="text-right clearfix">
      <span class="pull-left">
        <span class="fa fa-cutlery"></span>
      </span>
      <!-- <small>{{0 | date}}</small> -->
      <small>
        <span class="fa fa-credit-card"></span>
      </small>
      <span class="text-danger" ng-bind="vm.sum() | currency:'￥'"></span>
    </h1>

    <!-- 模式选择 -->
    <!-- <div class="btn-group pull-left" ng-init="vm.mode='single'" ng-hide="vm.list.length > 0">
      <button class="btn btn-primary" ng-model="vm.mode" btn-radio="'single'">
        <span class="fa fa-lg fa-user"></span>
      </button>
      <button class="btn btn-primary" ng-model="vm.mode" btn-radio="'multi'">
        <span class="fa fa-lg fa-group"></span>
      </button>
    </div> -->

    <!-- 去除多余内容 -->
    <!-- <div class="visible-xs-block form-group clearfix"></div> -->

    <!-- 金额输入 -->
    <form class="form">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="fa fa-lg fa-cny"></span>
          </span>
          <input type="number" class="form-control" placeholder="￥￥￥" ng-model="vm.current.amount">
          <!-- <input class="hidden"> -->
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-click="vm.add()">
              <span class="fa fa-lg fa-plus"></span>
            </button>
          </span>
        </div>
      </div>
    </form>

    <div>
      <span class="badge">
        <i class="fa fa-fw fa-plus"></i>
      </span>
      <span class="badge alert-danger" app-draggabilly>
        <i class="fa fa-fw fa-user"></i>
        杨文
      </span>
      <span class="badge alert-danger" app-draggabilly>
        <i class="fa fa-fw fa-user"></i>
        赵洋
      </span>
      <span class="badge alert-danger" app-draggabilly>
        <i class="fa fa-fw fa-user"></i>
        蒋伟
      </span>
    </div>

    <div class="row">
      <table class="table table-hover app-fluid-table" ng-show="vm.list.length > 0">
        <tbody>
          <tr class="warning" ng-repeat="item in vm.list" app-dropzone>
            <td>
              <span class="hidden badge alert-success">
                <i class="fa fa-fw fa-user"></i>
                杨文
              </span>
              <span ng-bind="item.amount | currency:'￥'"></span>
            </td>
            <td class="app-action-column">
              <button type="button" class="btn btn-xs btn-danger" ng-click="vm.remove($index)">
                <span class="fa fa-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row" ng-show="vm.list.length > 0">
      <div class="col-sm-10 col-sm-push-2">
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-primary">
            <span class="fa fa-2x fa-check-circle-o"></span>
          </button>
        </div>
      </div>

      <div class="col-sm-2 col-sm-pull-10">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-default">
            <span class="fa fa-2x fa-times-circle-o"></span>
          </button>
        </div>
      </div>
    </div>

    <div ng-hide="vm.list.length > 0">
      <div class="form-group"></div>
      <div class="form-group">
        <button type="button" class="btn btn-block btn-default">
          <span class="fa fa-2x fa-chevron-left"></span>
        </button>
      </div>
    </div>
  </div>

</div>
